@import 'colors';
@import 'background';
@import 'responsive';
%bangers {
  font-family: 'Bangers', serif;
}

%koulen {
  font-family: "Koulen", sans-serif;
  font-weight: 400;
}

%lora {
  font-family: 'Lora', serif;
}

body {
  @extend %bg-pattern;
  @extend %lora;
  color: darken($walnut, 20%);
  font-size: 1rem;
}

.site-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  border-radius: 1rem;
  margin: 2rem 0;
  padding: 2rem;
  max-width: 60vw;
  background: rgba(#fff, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.3rem;
  }

}

h1, h2, h3, h4 {
  @extend %koulen;
  margin: 1.2rem 0;
}

h1 {
  font-size: 3rem;
  @include breakpoint('tablet') {
    font-size: 4rem;
  }
}
h2 {
  font-size: 2.8rem;

}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}

.title {
  font-size: 8rem;
  color: $rosegold;
  text-shadow: 1px 1px $beige, 3px 3px $walnut;
  line-height: 1;
  margin: 0;
}

.tagline {
  @extend %lora;
  margin: 0 0 1rem;
  font-size: 2rem;
}

.main-image img {
  width: 100%;
}

.page-content {
  padding: 1rem 2rem;
}

hr {
  color: $walnut;
  border: 1px dashed;
}

.show {
  width: 100%;
  max-width: 50vw;
  text-align: center;

  @include breakpoint('desktop') {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
  }

  padding: 2rem;
  margin-bottom: 2rem;
  border: 2px solid $walnut;
  background: rgba(white, 0.6);

  .poster {
    grid-column: 1 / span 2;

    img {
      width: 100%;
      max-width: 40rem;
    }
  }
}

.social {
  padding: 1rem 0;
  display: flex;
  gap: 5px;
  img {
    height: 2rem;
    width: 2rem;
  }
}
