<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{title}}</title>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&family=Koulen&family=Lora:wght@400;700&display=swap' rel='stylesheet'>
    <link rel='stylesheet' href='/main.css' />
  </head>
  <body>
    <div class='site-container'>
      <main class='content'>
        <h1 class='title'>Mighty Holler</h1>
        <h3 class='tagline'>Electric Old Time</h3>
        <figure class='main-image'>
          <img src='../assets/mighty-holler.jpg' />
        </figure>
        <div class='page-content'>{{ content | safe }}</div>

        <section id="shows" class='panel'>
          <h2>Upcoming Shows</h2>

          {% for show in shows %}
          {% if show.active === true %}

          <article class='show'>
            {% if show.poster %}
            <figure class='poster'>
              <img src={{ show.poster }} />
            </figure>
            {% endif %}
            <div class='details'>
              <h3>{{ show.name }}</h3>
              <p>{{ show.location }}</p>
              <p>{{ show.date }}</p>
              <p>{{ show.time }}</p>
              {% if show.link %}
                <p><a class='button' href='{{ show.link }}' target='_blank' rel='noopener noreferrer'>Details</a></p>
              {% endif %}
            <div>
          </article>
          {% endif %}
          {% endfor %}
        </section>

        <footer class="social">
          <a href="https://www.facebook.com/mighty.holler.band/"><img src="../assets/facebook.png" /></a>
          <a href="https://www.instagram.com/mighty_holler/"><img src="../assets/instagram.png" /></a>
          <a href="https://www.youtube.com/@MightyHoller"><img src="../assets/youtube.png" /></a>
      </main>
    </div>
  </body>
</html>
